spring:
  application:
    name: gateway
  config:
    import: "configserver:http://localhost:18071/"
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          httpclient:
            connect-timeout: 5000
            response-timeout: 5s

info:
  app:
    name: "gateway"
    description: "Mazadak API Gateway"
    version: "1.0.0"

logging:
  level:
    com.mazadak.gateway: DEBUG
