spring:
  application:
    name: gateway
  config:
    import: "optional:configserver:http://localhost:9071/"
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          httpclient:
            connect-timeout: 5000
            response-timeout: 5s


  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"

info:
  app:
    name: "gateway"
    description: "Mazadak API Gateway"
    version: "1.0.0"

management:
  endpoints:
    web:
      exposure:
        include: "*"
    endpoint:
        gateway:
          access: unrestricted
    info:
      env:
        enabled: true
    metrics:
      tags:
        application: ${spring.application.name}

  eureka:
    instance:
      prefer-ip-address: true
    client:
      fetch-registry: true
      register-with-eureka: true
      service-url:
        defaultZone: http://localhost:9050/eureka/

logging:
  level:
    com.mazadak.gateway: DEBUG


server:
  port: 9090

