spring:
  application:
    name: gateway
  config:
    import: "optional:configserver:http://localhost:18071/"
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: false
              lower-case-service-id: true
          httpclient:
            connect-timeout: 5000
            response-timeout: 5s
          routes:
            - id: auth
              uri: lb://user-service
              predicates:
                - Path=/auth/**,/users/**,/address/**,/feedback/**
            - id: product_service
              uri: lb://product-catalog
              predicates:
                - Path=/products/**,/categories/**

            - id: auction_service
              uri: lb://auctions
              predicates:
                - Path=/auctions/**,/bids/**

            - id: inventory_service
              uri: lb://inventory-service
              predicates:
                - Path=/inventories/**

            - id: users_proxy
              uri: lb://user-service
              predicates:
                - Path=/auth/**,/users/**

            - id: order_service
              uri: lb://orders
              predicates:
                - Path=/orders/**

            - id: payment_service
              uri: lb://payment
              predicates:
                - Path=/api/payments,/api/onboarding

            - id: cart_service
              uri: lb://cart-service
              predicates:
                - Path=/carts/**
          default-filters:
            - name: CircuitBreaker
              args:
                name: defaultCb


info:
  app:
    name: "gateway"
    description: "Mazadak API Gateway"
    version: "1.0.0"

logging:
  level:
    com.mazadak.gateway: DEBUG
    org.springframework.cloud.gateway: TRACE
    reactor.netty.http.client: DEBUG

security:
  jwt:
    secret: ${JWT_SECRET:7b5df3c65c867a1ce70ff7b06ae2025c1f6d1d9fbcca48fca5a7345567dba8e4}

resilience4j:
  circuitbreaker:
    instances:
      defaultCb:
        sliding-window-type: count_based
        sliding-window-size: 3
        minimum-number-of-calls: 3
        failure-rate-threshold: 100
        wait-duration-in-open-state: 30s
        permitted-number-of-calls-in-half-open-state: 1